{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %}About me{% endblock %}</h1>
    <h2 class="content" style="font-weight: normal">
    <p>
    I got a background in Automotive Engineering in Vietnam and i study Master Automation in Germany. This very first basic website is just my curiosity, how a website works.
    I try to make what i learned from internet (framework, html, css and Azure service, ...) more practical. 
    My background characterizes partly how curious and "hungry" i am.
    </p>
    <p>
    Besides Tech i'm also interested in finance. I'm investing my petty cash in ETF, stock and crypto in order to minimize the risk.
    Not a "diamond hand", but currently profits or losses are not a big deal. These investments are also my other curiosity: "how money works"
    and i accept the losses to learn it more pratically. 
    </p>
    Theory is when i know everything but it just doesn't work. Practice is that i apply it effectively, but basically i dont know why.
    Sometimes i combine theory with practice: nothing works and i dont know why.
    <hr>
    <b>Note:</b> some contents are in German. I also develop Speech-Translator (from German to English) and Translate-Bot from any language into English to help you.
    Sometimes the bot does not reacts immediately, please be patient to reload it! 
    <br>
    Here is the architekture of: <br>
    <a class="bot" href="bot_architekture">Translate-Bot</a>
    </h2>
{% endblock %}