<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/styling.css" type="text/css">
    <link rel="icon" href="static/icon.png">
    <script src="https://kit.fontawesome.com/0625555087.js" crossorigin="anonymous"></script>
</head>
<body>
    <div style="padding: 10px;background-color:black">
        <a href="{{url_for('about')}}">About</a>
        <a href="employments">Employments</a>
        <a href="certificate">Certificate</a>
        <a href="projects">Projects</a>
    </div>

    <!-- CONTENT -->
    <div style="padding: 20px; background-color: rgb(239, 225, 225); margin: 20px;">
        {% block content %}{% endblock %}
    </div>

    <!-- CHATBOT -->
    <button type="button" class="chat-btn">
        <span style="font-size: 25px;">
            <i class="fa-solid fa-message"></i> 
        </span>
    </button>

    <div class="chat-popup">
        <iframe src='https://webchat.botframework.com/embed/bot-vietapp?s=fgHw29aaJRk.3cD3J0miipXgOqu-ogXXVOxQ5pydaR4cR-orqfq_8o4'  style="height: 300px; width: 100%"></iframe>
    </div>

    <!-- FOOTER -->
    <footer class="footer">
    <a href="mailto:viettran295@gmail.com">
        <span style="font-size: 20px; text-transform: lowercase; color: white">
            viettran295@gmail.com
        </span>
    </a>
    <a href="https://www.linkedin.com/in/viettran295/">
    <span style="font-size: 25px; color: white">
        <i class="fa-brands fa-linkedin fa-shake" style="--fa-animation-duration: 3s;"></i>
    </span>
    </a>

    <a href="https://github.com/viettran295">
    <span style="font-size: 25px; color:rgb(255, 255, 255)">
        <i class="fa-brands fa-github fa-shake" style="--fa-animation-duration: 3s;"></i>
    </span>
    </a>
    <br>
        Copyright 2022 &copy VietTran
    </footer>

    <!-- JAVASCRIPT FOR CHATBOT BUTTON -->
    <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>