{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %}Certificate{% endblock %}</h1>
    <hr>
    <h2>Knowtion Ltd</h2>
    <h3 style="font-weight: normal">Internship</h3>
    <iframe src="https://drive.google.com/file/d/1B4ppvsivQf3ZJmjzvxeliIDb8cxf3Q1j/preview" width="640" height="600" allow="autoplay"></iframe>
    <!-- <form action="/certificate" method="post">
        <input type="submit" name="img_to_text" value="Scanned PDF to Text">
    </form> -->
    <br>
    <button class="popup" onclick="convertPDF_text()">to English
        <span class="popuptext" id="PDFtoText"> 
        From data to knowledge <br>
        Internship certificate
        <p>
        Mr. Viet Hoai Tran, born on May 29th, 1996 in Ho Chi Minh (Vietnam), has a voluntary internship in the software in our company from October 1st, 2021 to December 31st, 2021
        and algorithm development in the loT / Industry 4.0 environment.
        </p>
        <p>
        Knowtion GmbH is a data science company with expertise in the research, development and application of algorithms for processing sensor and machine data. 
        The focus is on the development of powerful algorithms and their implementation as individual software solutions. 
        Systems from embedded to scalable server architectures are implemented based on different platforms, development environments, technologies and standards. This can be individual software modules or entire software products.
        Mr. Tran worked with us in software and algorithm development and devoted himself to the following tasks: </p>
        <p>
        - Literature research of different AI methods for the
        Anomaly detection in industrial plants <br>

        - Development of algorithms for data processing using Python <br>

        - Determination of statically relevant features in sensor data <br>

        - Creation of extensive visualizations of characteristics <br>

        - Integration of the visualization into our standard library <br>
        </p>
        <p>
        We got to know Mr. Tran as a very responsible and reliable employee who, after only a short time, carried out the tasks assigned to him quickly, conscientiously and always with initiative and commitment
        done to our satisfaction.
        </p>
        <p>
        Thanks to his good comprehension and his independence, he acquired very good practical knowledge in a very short time and supported us with the algorithms he developed and the associated visualization in the development of our cloud-based automated monitoring of production plants.
        Mr. Tran's behavior towards superiors and colleagues was always exemplary. Due to his reliable and competent nature, he was a very valued and recognized employee.
        </p>
        </span>
    </button>
    <!-- <h3>{{notification}}</h3> -->
{% endblock %}