{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %}Employments{% endblock %}</h1>
    <hr>
    <h2>Be-terna Ltd</h2>
    <h3>Working student | May. 2022 - current</h3>
    <h3 style="font-weight: normal;">
    <p>
    - Optimize Chatbot <br>
    - Connect "Bot Composer" with "Bot Framework SDK" <br>
    - Implement English version for the bot <br>

    Tech: Bot Composer, Bot Framework SDK, Azure Search, Azure SQL Database,
    Azure Data Factory
    </p>
    </h3>
    <br>
    <h2>Knowtion Ltd - Shiratech Solutions</h2>
    <h3>Internship | Oct.2021 - Dec.2021</h3>
    <h3 style="font-weight: normal">
    <p>
    -Analyse sensor data for "predictive Maintenance" (Pandas) <br>
    - Data Aggregation (Varianz, Standardabweichung, RMS, ...) <br>
    - Anomaly detection for sensor data <br>
    - Contribute data visualization to company's standard library (Matplotlib, Plotly,
    Seaborn) <br>

    Tech: Python, Pandas, Plotly, Seaborn
    </p>
    </h3>
{% endblock %}