{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %}Employments{% endblock %}</h1>
    <hr>
    <a href="https://www.be-terna.com/">
        <h2 class="title">Be-terna Ltd</h2>
    </a>
    <h3>Working student | May. 2022 - current</h3>
    <h3 class="content" style="font-weight: normal;">
    <p>
    Optimize Chatbot: <br>
    - Connect "Bot Composer" and "Bot Framework SDK" together <br>
    - Implement English language for the bot <br>

    Tech: Bot Composer, Bot Framework SDK, Azure Search, Azure SQL Database,
    Azure Data Factory
    </p>
    </h3>
    <a href="https://www.knowtion.de/en/about-shiratech-knowtion-2/">
        <h2 class="title">Knowtion Ltd - Shiratech Solutions</h2>
    </a>
    
    <h3>Internship | Oct.2021 - Dec.2021</h3>
    
    <h3 class="content" style="font-weight: normal">
    <p>
    - Analyse sensor data for "predictive Maintenance" (Pandas) <br>
    - Data Aggregation (Varianz, Standardabweichung, RMS, ...) <br>
    - Anomaly detection for sensor data <br>
    - Contribute data visualization to company's standard library (Matplotlib, Plotly,
    Seaborn) <br>

    Tech: Python, Pandas, Plotly, Seaborn
    </p>
    </h3>
    <a href="https://drive.google.com/file/d/1DN1wRaxITgb3k5W_Llqx4XKXL2uEjLrm/view?usp=sharing" download>
        <button type="button">Download my CV</button>
    </a>
{% endblock %}