{% extends 'base.html' %}
{% block content %}
    <h1 class="title">{% block title %}Employments{% endblock %}</h1>
    <hr>
    <a href="https://www.be-terna.com/">
        <h2 class="title">Be-terna Ltd</h2>
    </a>
    <h3 class="title">Working student | May. 2022 - current</h3>
    <h3 class="content" style="font-weight: normal;">
    <p>
    Optimize and develop Orchestra Chatbot: <br>
    - Connect "Bot Composer" with "Bot Framework SDK" <br>
    - Coordinate with the customer about concepts of improvement <br>
    - Update Data Factory pipeline in accordance with requirements <br>
    - Implement English version for the bot <br>

Tech: Bot Composer, Bot Framework SDK, Language Understanding (Luis), QnA Maker, Azure SQL Database, Azure Data Factory
    </p>
    </h3>
    <a href="https://www.knowtion.de/en/about-shiratech-knowtion-2/">
        <h2 class="title">Knowtion Ltd - Shiratech Solutions</h2>
    </a>
    
    <h3 class="title">Internship | Oct.2021 - Dec.2021</h3>
    
    <h3 class="content" style="font-weight: normal">
    <p>
    -Analyse  sensor data for "predictive Maintenance" (Pandas, Numpy) and Data Aggregation (variance, standard deviation, FFT, RMS, ...) <br>
    - Literature research of different AI methods for the Anomaly detection in industrial plants <br>
    - Integration of the visualization class into company's standard library (Matplotlib, Plotly, Seaborn) <br>
    Tech: Python, Pandas, Numpy, Plotly, Seaborn
    </p>
    </h3>
    <a href="https://drive.google.com/file/d/1HqZ2UVuGBpgFUT-PsT0Lbcl1aY7EKqiD/view" download>
        <button type="button">Download my CV</button>
    </a>
{% endblock %}