{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %}Virtual Instrumentation{% endblock %}</h1>
    <h2>Automatic phase swiching for three-phase generator</h2>
    <h3 class="content">This content will be updated in english soon, or my Translate-Bot can help you</h3>
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSYkBT9ZX59bVd4MVDi0hq2Vt8ZCjPDR_nRats9kY-6RwFfwsSMSU2wx_3ydpyXUw/embed?start=true&loop=false&delayms=5000" frameborder="0" width="640" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
{% endblock %}