{% extends 'base.html' %}
{% block content %}
<h1 class="title">Speech Translator</h1>
<h3 class="content">This function will translate your speech from German to English</h3>
<br>

<!-- <form method="POST">
    <input type="submit" value="Start to speak">
</form> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/p5@1.4.2/lib/p5.js"></script>
<script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.2/addons/p5.sound.min.js"></script>
<script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.2/addons/p5.sound.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<button onclick="getMedia()">Start to speak</button>
<h4 class="content" style="font-weight: normal;">German: {{recognized}}</h4>
<h4 class="content" style="font-weight: normal;">English: {{result}}</h4>

{% endblock %}